@import url(header.css);
@import url(footer.css);

.conciertos {
    width: 100%;
}
.conciertos div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.conciertos p {
    padding-right: 20px;
}
.textLila {
    color: rgb(108, 8, 133);
}
.conciertos a {
    color: white;
    text-decoration: none;
    background-color: rgb(108, 8, 133);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border:rgb(108, 8, 133) solid 2px;
}
.conciertos a:hover {
    border: white solid 2px;
    transition: 1s;
}
@media screen and (max-width: 759px) {
    .conciertos div {
        flex-direction: column;
        text-align: center;
    }
}