body {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
fieldset {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
    width: 95%;
}
legend {
    text-align: center;
    font-size: xx-large;
    color: rgb(108, 8, 133);
}
form ul {
    list-style: none;
}
form li {
    margin-bottom: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    color: white;
    width: 100%;
}
input:hover, textarea:hover {
    border-color: rgb(108, 8, 133);
    transition: 1s;
}
input:focus, textarea:focus {
    background-color: rgba(108, 8, 133, 0.3);
    box-shadow: none;
    outline: none;
}
#mensaje {
    height: 90px;
}
button {
    margin-top: 30px;
    background-color: rgb(108, 8, 133);
    border: rgb(108, 8, 133) solid 2px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    width: 100%;
}
button:hover {
    border: white solid 2px;
    transition: 1s;
    cursor: pointer;
}
button:focus {
    border: white solid 2px;
    box-shadow: none;
    outline: none;
}
p {
    text-align: center;
    font-size: x-small;
}
a {
    color: rgb(108, 8, 133);
}