@import url(header.css);
@import url(footer.css);
#columnas {
    display: flex;
    flex-direction: row;
}
main {
    margin-right: 50px;
}
.carrousel {
    position: relative;
    width: 75%;
}
.carrousel img {
    width: 100%;
    display: block;
}
#control {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
#retroceder {
    transform: rotate(90deg);
}
#avanzar {
    transform: rotate(-90deg);
}
#divParaImg {
    width: 100%;
    overflow: hidden;
}
.libro {
    text-align: center;
    margin-bottom: 50px;
}
.libro img {
    width: 400px;
    border-radius: 10px;
}
.biografia p {
    margin-bottom: 30px;
}
@media screen and (max-width: 759px) {
    #columnas {
        flex-direction: column;
    }
}