@import url(reset.css);
@import url(noscript.css);
@import url(cookies.css);
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("../media/img/fons_estopa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
}
.menu {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    background-color: rgb(108, 8, 133);
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
}
.menu li {
    display: inline-flex;
}
.menu a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.menu a:hover {
    background-color: black;
    transition: 1s;
}
.menu a:focus {
    background-color: black;
    box-shadow: none;
    outline: none;
}
#burguer {
    display: none;
    margin-right: 20px;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
.contenidor {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 100px;
    border-radius: 40px;
}
h2 {
    text-align: center;
    font-size: xx-large;
    color: rgb(108, 8, 133);
    margin-bottom: 50px;
}
h3 {
    font-size: x-large;
    margin-bottom: 40px;
}
@media screen and (max-width: 759px) {
    .contenidor {
        width: 100%;
        border-radius: 0;
        padding: 100px 50px;
    }
    .menu {
        justify-content: end;
    }
    .link-menu {
        display: none;
    }
    #burguer {
        display: flex;
    }
    h1 img {
        width: 425px;
    }
}