/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */
main img {
    /* display: block; */
    border-radius: 50%;
    transition: 1s;
}
main img:hover {
    transform: rotate(360deg);
    border-radius: 10px;
}
main img:not(:hover) {
    transform: rotate(0deg);
}
main h3 {
    text-align: center;
}
main a {
    text-decoration: none;
    color: white;
}